body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 200px;
    margin: auto;
    text-align: center;
}

.responsive-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Mobile View */
@media (max-width: 600px) {
    body {
        background-color: #f0f0f0;
    }
    h1 {
        font-size: 1.5em;
    }
}
p {
    color: darkblue;
    font-size: 18px;
}